<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple_Stored_XSS</title>
</head>
<body>
    <h1>simple_SSRF</h1>

    <p>
        store your own page!
    </p>

    <h3>page maker</h3>
    <form action="/store" method="GET">
        page name: <input type="text" name="name" placeholder="input page name here"><br>
        page content: <input type="text" name="content" placeholder="input page content here">
        <input type="submit" value="submit">
    </form>

    <a href="/report">report error here.</a>
</body>
</html>